<div class="row">
    <div class="col-12">
        <h4 class="text-primary font-weight-bold">PROCESOS</h4>
    </div>
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="cp" routerLink="autoevaluacion-procesos"><i
                            class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Procesos</li>
            </ol>
        </nav>
    </div>
    <div class="col-12">
        <button (click)="getMacroprocesos()" data-toggle="modal" data-target="#modalAgregarProceso" type="button" class="btn btn-sm btn-primary mb-3"><i
                class="fas fa-plus mr-2"></i>AGREGAR</button>
    </div>
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="icon-b-p"><i class="fas fa-search"></i></span>
            </div>
            <input [(ngModel)]="searchText" name="searchText" type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar...font-weight-light" aria-describedby="icon-b-p">
        </div>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="min text-primary" *ngFor="let i of columns">{{i.nombre}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let i of datos| procesoPipe:searchText | paginate: { id: 'server', itemsPerPage: 10, currentPage: p }; index as j;">
                        <td class="min text-center">{{i.id != null? i.id: "NR"}}</td>
                        <td class="min">{{i.nombre != null? i.nombre: "NR"}}</td>
                        <td class="min">{{i.descripcion != null? i.descripcion: "NR"}}</td>
                        <td class="min text-primary font-weight-bold">{{i.macroprocesoNombre != null? i.macroprocesoNombre: "NR"}}</td>
                        <td class="min">{{i.usuario_creacion != null? i.usuario_creacion: "NR"}}</td>
                        <td class="min">{{i.fecha_creacion != null? i.fecha_creacion: "NR"}}</td>
                        <td class="min">{{i.usuario_modificacion != null? i.usuario_modificacion: "NR"}}</td>
                        <td class="min">{{i.fecha_modificacion != null? i.fecha_modificacion: "NR"}}</td>
                        <td class="min text-center">
                            <a (click)="openPut(i);getMacroprocesos()" data-toggle="modal" data-target="#modalEditarProceso" class="cp"><i
                                    class="fas fa-edit text-warning mr-2 fa-lg"></i></a>
                            <a (click)="openDelete(i)" data-toggle="modal" data-target="#modalEliminarProceso" class="cp"><i
                                    class="fas fa-trash-alt text-danger fa-lg"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-center text-black-50" *ngIf="datos.length == 0 && !loading">No se encontraron resultados
        </p>
        <pagination-controls class="my-pagination text-center" id="server" (pageChange)="p=$event" maxSize="10"
            previousLabel="" nextLabel="">
        </pagination-controls>
    </div>
</div>

<!-- Modal ADD -->
<div class="modal fade" id="modalAgregarProceso" tabindex="-1" aria-labelledby="modalAgregarProcesoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarProcesoLabel">Agregar Proceso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Nombre <span>*</span></label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="procesoAdd.nombre" name="nombre" type="text" class="form-control"
                                placeholder="Nombre...">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Descripción</label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="procesoAdd.descripcion" name="descripcion" class="form-control"
                                aria-label="Descripcion..."></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Macroproceso <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="macroprocesos" bindValue="id" bindLabel="nombre"
                                [clearable]="false" style="width: 100%;"
                                [(ngModel)]="procesoAdd.macroproceso" [loading]="loadingMacro" loadingText="Cargando..."
                                notFoundText="Sin resultados" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [virtualScroll]="true"
                                [hideSelected]="false" [clearSearchOnAdd]="true">
                                <ng-template ng-option-tmp let-item="item">
                                    <h6 class="text-primary mb-0 font-weight-bolder"><i class="fas fa-object-ungroup mr-2"></i>{{item.nombre}}</h6>
                                    <p *ngIf="item.descripcion != null" class="text-black-50 mb-0">{{item.descripcion}}</p>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button [class.dis]="loadingAdd" (click)="post()" type="button" class="btn btn-primary">
                    <i class="fas fa-circle-notch fa-spin mr-2" *ngIf="loadingAdd"></i>Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal EDIT -->
<div class="modal fade" id="modalEditarProceso" tabindex="-1" aria-labelledby="modalEditarProcesoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarProcesoLabel">Editar Proceso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Nombre <span>*</span></label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="procesoEdit.nombre" name="nombre" type="text" class="form-control"
                                placeholder="Nombre...">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Descripción</label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="procesoEdit.descripcion" name="descripcion" class="form-control"
                                aria-label="Descripcion..."></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Macroproceso <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="macroprocesos" bindValue="id" bindLabel="nombre"
                                [clearable]="false" style="width: 100%;"
                                [(ngModel)]="procesoEdit.macroproceso" [loading]="loadingMacro" loadingText="Cargando..."
                                notFoundText="Sin resultados" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [virtualScroll]="true"
                                [hideSelected]="false" [clearSearchOnAdd]="true">
                                <ng-template ng-option-tmp let-item="item">
                                    <h6 class="text-primary mb-0 font-weight-bolder"><i class="fas fa-object-ungroup mr-2"></i>{{item.nombre}}</h6>
                                    <p *ngIf="item.descripcion != null" class="text-black-50 mb-0">{{item.descripcion}}</p>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button [class.dis]="loadingEdit" (click)="put()" type="button" class="btn btn-primary">
                    <i class="fas fa-circle-notch fa-spin mr-2" *ngIf="loadingEdit"></i>Actualizar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE -->
<div class="modal fade" id="modalEliminarProceso" tabindex="-1" aria-labelledby="modalEliminarProcesoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarProcesoLabel">Eliminar Proceso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="text-danger">¿Desea eliminar el registro?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button [class.dis]="loadingDelete" (click)="delete()" type="button" class="btn btn-danger">
                    <i class="fas fa-circle-notch fa-spin mr-2" *ngIf="loadingDelete"></i>Eliminar
                </button>
            </div>
        </div>
    </div>
</div>