/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

p, a, h1, h2, h3, h4, h5, h6, label, .m, th, td {
    font-family: 'Montserrat', sans-serif;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 3px solid #2780e3 !important;
}

.cp {
    cursor: pointer;
}

.text-gris {
    color: #dee2e6;
}

label {
    color: #2780e3 !important;
}

label span {
    color: #ff0039 !important;
}

.dis {
    opacity: 0.75;
    pointer-events: none;
}