<div class="row">
    <div class="col-12">
        <h4 class="text-primary font-weight-bold">AUTOEVALUACIÓN DE PROCESOS</h4>
    </div>
    <div class="col-12">
        <button (click)="openAdd()" data-toggle="modal" data-target="#modalAgregar" type="button"
            class="btn btn-sm btn-primary mb-3 mr-2">
            <i class="fas fa-plus mr-2"></i>AGREGAR
        </button>
        <!-- <div class="dropdown d-inline-block" style="vertical-align: top;">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="btn-exportar"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-file-excel mr-2"></i>EXPORTAR
            </button>
            <div class="dropdown-menu" aria-labelledby="btn-exportar">
                <a class="dropdown-item">Total</a>
                <a class="dropdown-item" href="#">Parcial</a>
            </div>
        </div> -->
    </div>
    <div class="col-9">
        <div class="input-group mb-3">
            <input [(ngModel)]="filtros.buscar" type="text" class="form-control" placeholder="Buscar..."
                aria-label="Buscar..." aria-describedby="btn-buscar">
            <div class="input-group-append" id="btn-buscar">
                <button (click)="get(1)" class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                <button (click)="limpiarFiltros()" class="btn btn-outline-secondary" type="button" id="btn-buscar"><i
                        class="fas fa-eraser"></i></button>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="respp">Res. por pág.</label>
            </div>
            <select (change)="itesmpp($event.target.value)" class="custom-select" id="respp">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let i of tableManager.headers; index as j" class="min" (click)="sort(i.sortable, j)"
                            [class.text-center]="i.center" [class.cp]="i.sortable">
                            <span class="text-primary">{{i.columnName}}</span>
                            <span class="ml-2">
                                <i *ngIf="i.sortable"
                                    class="fas fa-long-arrow-alt-up {{i.sort && i.dir=='ASC'?'text-primary':'text-gris'}}"></i>
                                <i *ngIf="i.sortable"
                                    class="fas fa-long-arrow-alt-down {{i.sort && i.dir=='DESC'?'text-primary':'text-gris'}}"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let i of datos | paginate: { id: 'server', itemsPerPage: tableManager.params.can, currentPage: p, totalItems:total }; index as j;">
                        <td class="min text-center">{{i.id != null? i.id: "NR"}}</td>
                        <td class="min text-primary">{{i.macroprocesoNombre != null? i.macroprocesoNombre: "NR"}}</td>
                        <td class="min text-primary">{{i.procesoNombre != null? i.procesoNombre: "NR"}}</td>
                        <td class="min">{{i.riesgoNombre != null? i.riesgoNombre: "NR"}}</td>
                        <td class="min">{{i.implicacionRiesgo != null? i.implicacionRiesgo: "NR"}}</td>
                        <td class="min">
                            <span class="{{badgeParser[i.probabilidadOcurrenciaCodigo]}}">
                                {{i.probabilidadOcurrenciaNombre}}
                            </span>
                        </td>
                        <td class="min">
                            {{i.probabilidadOcurrenciaDescripcion != null? i.probabilidadOcurrenciaDescripcion: "NR"}}
                        </td>
                        <td class="min">
                            <span class="{{badgeParser[i.impactoCodigo]}}">
                                {{i.impactoNombre}}
                            </span>
                        </td>
                        <td class="min">{{i.impactoDescripcion != null? i.impactoDescripcion: "NR"}}</td>
                        <td class="min">{{i.descripcion != null? i.descripcion: "NR"}}</td>
                        <td class="min">{{i.mejora != null? i.mejora: "NR"}}</td>
                        <td class="min">{{i.usuario_creacion != null? i.usuario_creacion: "NR"}}</td>
                        <td class="min">{{i.fecha_creacion != null? i.fecha_creacion: "NR"}}</td>
                        <td class="min">{{i.usuario_modificacion != null? i.usuario_modificacion: "NR"}}</td>
                        <td class="min">{{i.fecha_modificacion != null? i.fecha_modificacion: "NR"}}</td>
                        <td class="min text-center">
                            <a (click)="targetVerCampos=i" *ngIf="i.camposPersonalizados != null"
                                title="Ver campos personalizados" data-toggle="modal"
                                data-target="#verCamposPersonalizados" class="cp"><i
                                    class="fas fa-info-circle text-info mr-2 fa-lg"></i></a>
                            <a (click)="openPut(i)" title="Editar" data-toggle="modal" data-target="#modalEditar" class="cp"><i
                                    class="fas fa-edit text-warning mr-2 fa-lg"></i></a>
                            <a (click)="openDelete(i)" title="Eliminar" data-toggle="modal" data-target="#modalEliminar" class="cp"><i
                                    class="fas fa-trash-alt text-danger fa-lg"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-center text-black-50" *ngIf="datos.length == 0 && !loading">No se encontraron resultados
        </p>
        <pagination-controls class="my-pagination text-center" id="server" (pageChange)="get($event)" maxSize="10"
            previousLabel="" nextLabel="">
        </pagination-controls>
    </div>
</div>

<!-- Modal ADD-->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="modalAgregarLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarLabel">Agregar Autoevaluación de Procesos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label for="">Proceso <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="procesos" bindValue="id" bindLabel="nombre" [clearable]="false"
                                style="width: 100%;" [(ngModel)]="apAdd.proceso" [loading]="loadingProcesos"
                                loadingText="Cargando..." notFoundText="Sin resultados" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [virtualScroll]="true" [hideSelected]="false"
                                [clearSearchOnAdd]="true" [groupBy]="'macroprocesoNombre'">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="">Riesgo <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="riesgos" bindValue="id" bindLabel="nombre" [clearable]="false"
                                style="width: 100%;" [(ngModel)]="apAdd.riesgo" [loading]="loadingRiesgos"
                                loadingText="Cargando..." notFoundText="Sin resultados" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [virtualScroll]="true" [hideSelected]="false"
                                [clearSearchOnAdd]="true">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="">Probabilidad de Ocurrencia <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="pOc" bindValue="id" bindLabel="nombre" [clearable]="false"
                                style="width: 100%;" [(ngModel)]="apAdd.probabilidadOcurrencia" [loading]="loadingPOc"
                                loadingText="Cargando..." notFoundText="Sin resultados" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [hideSelected]="false" [clearSearchOnAdd]="true"
                                [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item">
                                    <span class="{{badgeParser[item.codigo]}}">{{item.nombre}}</span>
                                    <p class="text-black-50 mb-0 font-weight-bold"><small>
                                            <i class="fas fa-exclamation-circle mr-1"></i>Valor de probabilidad
                                            {{item.valor}}
                                        </small>
                                    </p>
                                    <p class="text-black-50 mb-0 font-weight-bold"><small>{{item.descripcion}}</small>
                                    </p>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="">Impacto <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="impactos" bindValue="id"
                                bindLabel="nombre" [clearable]="false" style="width: 100%;" [(ngModel)]="apAdd.impacto"
                                notFoundText="Sin resultados" [loading]="loadingImpactos" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [hideSelected]="false" [clearSearchOnAdd]="true"
                                [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item">
                                    <span class="{{badgeParser[item.codigo]}}">{{item.nombre}}</span>
                                    <p class="text-black-50 mb-0 font-weight-bold"><small>
                                            <i class="fas fa-exclamation-circle mr-1"></i>Valor de impacto
                                            {{item.valor}}
                                        </small>
                                    </p>
                                    <p class="text-black-50 mb-0 font-weight-bold"><small>{{item.descripcion}}</small>
                                    </p>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Implicación de riesgo <span>*</span></label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="apAdd.implicacionRiesgo" name="implicacionRiesgo"
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Descripción del control / Mitigación existente <span>*</span></label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="apAdd.descripcion" name="descripcion"
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Recomendación de mejora sugerida</label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="apAdd.mejora" name="mejora" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <h6 class="text-primary font-weight-bolder">CAMPOS PERSONALIZADOS <button
                                (click)="addCampoPost()" class="btn btn-sm btn-secondary"><i
                                    class="fas fa-plus"></i></button></h6>
                        <hr>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3" *ngFor="let i of apAdd.camposPersonalizados; index as j;">
                            <input [(ngModel)]="i.nombre" type="text" aria-label="Nombre" placeholder="Nombre"
                                class="form-control">
                            <input [(ngModel)]="i.valor" type="text" aria-label="Valor" placeholder="Valor"
                                class="form-control">
                            <div class="input-group-append">
                                <button (click)="apAdd.camposPersonalizados.splice(j,1)"
                                    class="btn btn-outline-secondary" type="button"><i
                                        class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button [class.dis]="loadingAdd" (click)="post()" type="button" class="btn btn-primary">
                    <i class="fas fa-circle-notch fa-spin mr-2" *ngIf="loadingAdd"></i>Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal VER CAMPOS-->
<div class="modal fade" id="verCamposPersonalizados" tabindex="-1" aria-labelledby="verCamposPersonalizadosLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verCamposPersonalizadosLabel">Campos personalizados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-primary font-weight-bold m" role="alert">
                            Autoevaluación ID {{targetVerCampos.id}}
                        </div>
                    </div>
                    <div class="col-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 10%;">#</th>
                                    <th style="width: 30%;">Nombre</th>
                                    <th style="width: 60%;">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of targetVerCampos.camposPersonalizados; index as j;">
                                    <th class="text-primary font-weight-bold text-center">{{j+1}}</th>
                                    <td>{{i.nombre}}</td>
                                    <td>{{i.valor}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">Eliminar Autoevaluación de procesos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="text-danger">¿Desea eliminar la autoevaluación de procesos?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button [class.dis]="loadingDelete" (click)="delete()" type="button" class="btn btn-danger">
                    <i class="fas fa-circle-notch fa-spin mr-2" *ngIf="loadingDelete"></i>Eliminar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal EDIT-->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarLabel">Editar Autoevaluación de Procesos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label for="">Proceso <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="procesos" bindValue="id" bindLabel="nombre" [clearable]="false"
                                style="width: 100%;" [(ngModel)]="apEdit.proceso" [loading]="loadingProcesos"
                                loadingText="Cargando..." notFoundText="Sin resultados" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [virtualScroll]="true" [hideSelected]="false"
                                [clearSearchOnAdd]="true" [groupBy]="'macroprocesoNombre'">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="">Riesgo <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="riesgos" bindValue="id" bindLabel="nombre" [clearable]="false"
                                style="width: 100%;" [(ngModel)]="apEdit.riesgo" [loading]="loadingRiesgos"
                                loadingText="Cargando..." notFoundText="Sin resultados" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [virtualScroll]="true" [hideSelected]="false"
                                [clearSearchOnAdd]="true">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="">Probabilidad de Ocurrencia <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="pOc" bindValue="id" bindLabel="nombre" [clearable]="false"
                                style="width: 100%;" [(ngModel)]="apEdit.probabilidadOcurrencia" [loading]="loadingPOc"
                                loadingText="Cargando..." notFoundText="Sin resultados" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [hideSelected]="false" [clearSearchOnAdd]="true"
                                [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item">
                                    <span class="{{badgeParser[item.codigo]}}">{{item.nombre}}</span>
                                    <p class="text-black-50 mb-0 font-weight-bold"><small>
                                            <i class="fas fa-exclamation-circle mr-1"></i>Valor de probabilidad
                                            {{item.valor}}
                                        </small>
                                    </p>
                                    <p class="text-black-50 mb-0 font-weight-bold"><small>{{item.descripcion}}</small>
                                    </p>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="">Impacto <span>*</span></label>
                        <div class="input-group mb-3">
                            <ng-select [items]="impactos" bindValue="id"
                                bindLabel="nombre" [clearable]="false" style="width: 100%;" [(ngModel)]="apEdit.impacto"
                                notFoundText="Sin resultados" [loading]="loadingImpactos" clearAllText="Limpiar"
                                [placeholder]="'Elegir...'" [hideSelected]="false" [clearSearchOnAdd]="true"
                                [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item">
                                    <span class="{{badgeParser[item.codigo]}}">{{item.nombre}}</span>
                                    <p class="text-black-50 mb-0 font-weight-bold"><small>
                                            <i class="fas fa-exclamation-circle mr-1"></i>Valor de impacto
                                            {{item.valor}}
                                        </small>
                                    </p>
                                    <p class="text-black-50 mb-0 font-weight-bold"><small>{{item.descripcion}}</small>
                                    </p>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Implicación de riesgo <span>*</span></label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="apEdit.implicacionRiesgo" name="implicacionRiesgo"
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Descripción del control / Mitigación existente <span>*</span></label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="apEdit.descripcion" name="descripcion"
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Recomendación de mejora sugerida</label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="apEdit.mejora" name="mejora" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <h6 class="text-primary font-weight-bolder">CAMPOS PERSONALIZADOS <button
                                (click)="addCampoPost()" class="btn btn-sm btn-secondary"><i
                                    class="fas fa-plus"></i></button></h6>
                        <hr>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3" *ngFor="let i of apEdit.camposPersonalizados; index as j;">
                            <input [(ngModel)]="i.nombre" type="text" aria-label="Nombre" placeholder="Nombre"
                                class="form-control">
                            <input [(ngModel)]="i.valor" type="text" aria-label="Valor" placeholder="Valor"
                                class="form-control">
                            <div class="input-group-append">
                                <button (click)="apEdit.camposPersonalizados.splice(j,1)"
                                    class="btn btn-outline-secondary" type="button"><i
                                        class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button [class.dis]="loadingEdit" (click)="put()" type="button" class="btn btn-primary">
                    <i class="fas fa-circle-notch fa-spin mr-2" *ngIf="loadingEdit"></i>Actualizar
                </button>
            </div>
        </div>
    </div>
</div>